<!DOCTYPE html>
<head>
  <title>QQ wifi login</title>
  <style type='text/css'>

  </style>
  <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-default " id="top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <!-- <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
      <a href="../" class="navbar-brand">QQ WiFi</a>
    </div>
    <!-- <nav class="collapse navbar-collapse bs-navbar-collapse">
    <ul class="nav navbar-nav navbar-center">
  </ul>
</nav> -->
</div>
</header>
<div class="page-header">
  <div class="jumbotron" id="content">
    <div class="container ">
      <p class="text-center">
        <img src="/static/tittle.png" class="img-responsive center-block"/>
      </p>
      <p class="text-center">对不起</p>
      <p class="text-center">您尚未拥有QQ WiFi内测资格</p>
    </div>
  </div>
</div>
</body>
</html>
